# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app


FireTreeTrillion/Engine/Bin/Engine.exp
FireTreeTrillion/Engine/Bin/Engine.ilk
FireTreeTrillion/Engine/Bin/Engine.pdb
FireTreeTrillion/Engine/Bin/Engine.dll
FireTreeTrillion/Engine/Bin/Engine.lib
Framework.VC.db
.vs/
FireTreeTrillion/Client/Bin/Shader_VtxAnimModel.cso
FireTreeTrillion/Client/Bin/Shader_VtxCube.cso
FireTreeTrillion/Client/Bin/Shader_VtxInstance_Point.cso
FireTreeTrillion/Client/Bin/Shader_VtxInstance_Rect.cso
FireTreeTrillion/Client/Bin/Shader_VtxModel.cso
FireTreeTrillion/Client/Bin/Shader_VtxNorTex.cso
FireTreeTrillion/Client/Bin/Shader_VtxPosTex.cso
Client/Bin/Test.dds
Client/Bin/Client.pdb
Client/Bin/Diffuse.dds
Client/Bin/DataFiles/Navigation.dat
Client/Bin/Engine.dll
Engine/Bin/Shader_Deferred.cso

Client/Default/x64/
Engine/Default/x64/
Client/Default/imgui.ini
Client/Default/Client.aps

EngineSDK/

FireTreeTrillion/Engine/Default/x64/
FireTreeTrillion/Client/Default/x64/
FireTreeTrillion/Client/Bin/Client.pdb
FireTreeTrillion/Client/Bin/Engine.dll
FireTreeTrillion/Engine/Bin/Shader_Deferred.cso
