# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app


FireTreeTrillion/Engine/Bin/Engine.exp
FireTreeTrillion/Engine/Bin/Engine.ilk
FireTreeTrillion/Engine/Bin/Engine.pdb
FireTreeTrillion/Engine/Bin/Engine.dll
FireTreeTrillion/Engine/Bin/Engine.lib
Framework.VC.db
.vs/
FireTreeTrillion/Client/Bin/Shader_VtxAnimModel.cso
FireTreeTrillion/Client/Bin/Shader_VtxCube.cso
FireTreeTrillion/Client/Bin/Shader_VtxInstance_Point.cso
FireTreeTrillion/Client/Bin/Shader_VtxInstance_Rect.cso
FireTreeTrillion/Client/Bin/Shader_VtxModel.cso
FireTreeTrillion/Client/Bin/Shader_VtxNorTex.cso
FireTreeTrillion/Client/Bin/Shader_VtxPosTex.cso
Client/Bin/Test.dds
Client/Bin/Client.pdb
Client/Bin/Diffuse.dds
Client/Bin/DataFiles/Navigation.dat
Client/Bin/Engine.dll
Engine/Bin/Shader_Deferred.cso

Client/Default/x64/
Engine/Default/x64/
Client/Default/imgui.ini
Client/Default/Client.aps

EngineSDK/

FireTreeTrillion/Engine/Default/x64/
FireTreeTrillion/Client/Default/x64/
FireTreeTrillion/Client/Bin/Client.pdb
FireTreeTrillion/Client/Bin/Engine.dll
FireTreeTrillion/Engine/Bin/Shader_Deferred.cso
FireTreeTrillion/Client/Default/imgui.ini
Assimp/Client_Assimp/Bin/Client_Assimp.pdb
Assimp/Client_Assimp/Bin/Shader_VtxAnimModel.cso
Assimp/Client_Assimp/Bin/Shader_VtxModel.cso
Assimp/Client_Assimp/Bin/Shader_VtxNorTex.cso
Assimp/Client_Assimp/Bin/Shader_VtxPosTex.cso
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.exe.recipe
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.ilk
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.log
Assimp/Client_Assimp/Default/x64/Debug/vc143.idb
Assimp/Client_Assimp/Default/x64/Debug/vc143.pdb
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/CL.command.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/Cl.items.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/CL.read.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/CL.write.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/Client_Assimp.lastbuildstate
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/fxc.read.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/fxc.write.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/link.command.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/link.read.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/link.write.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/rc.read.1.tlog
Assimp/Client_Assimp/Default/x64/Debug/Client_Assimp.tlog/rc.write.1.tlog
Assimp/Engine/Bin/Engine.dll
Assimp/Engine/Bin/Engine.exp
Assimp/Engine/Bin/Engine.lib
Assimp/Engine/Bin/Engine.pdb
Assimp/Engine/Default/x64/Debug/Engine.dll.recipe
Assimp/Engine/Default/x64/Debug/Engine.ilk
Assimp/Engine/Default/x64/Debug/Engine.log
Assimp/Engine/Default/x64/Debug/vc143.idb
Assimp/Engine/Default/x64/Debug/vc143.pdb
Assimp/Engine/Default/x64/Debug/Engine.tlog/Cl.items.tlog
Assimp/Engine/Default/x64/Debug/Engine.tlog/CL.read.1.tlog
Assimp/Engine/Default/x64/Debug/Engine.tlog/CL.write.1.tlog
Assimp/Engine/Default/x64/Debug/Engine.tlog/Engine.lastbuildstate
Assimp/Engine/Default/x64/Debug/Engine.tlog/link.command.1.tlog
Assimp/Engine/Default/x64/Debug/Engine.tlog/link.read.1.tlog
Assimp/Engine/Default/x64/Debug/Engine.tlog/link.write.1.tlog
Assimp/Engine/Default/x64/Debug/Engine.tlog/link.write.2u.tlog
