# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app


Engine/Bin/Engine.exp
Engine/Bin/Engine.ilk
Engine/Bin/Engine.pdb
Engine/Bin/Engine.dll
Engine/Bin/Engine.lib
Framework.VC.db
.vs/
Client/Bin/Shader_VtxAnimModel.cso
Client/Bin/Shader_VtxCube.cso
Client/Bin/Shader_VtxInstance_Point.cso
Client/Bin/Shader_VtxInstance_Rect.cso
Client/Bin/Shader_VtxModel.cso
Client/Bin/Shader_VtxNorTex.cso
Client/Bin/Shader_VtxPosTex.cso
Client/Bin/Test.dds
Client/Bin/Client.pdb
Client/Bin/Diffuse.dds
Client/Bin/DataFiles/Navigation.dat
Client/Bin/Engine.dll
Engine/Bin/Shader_Deferred.cso

Client/Default/x64/
Engine/Default/x64/
Client/Default/imgui.ini
Client/Default/Client.aps

EngineSDK/

